<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <!-- 데이터 바인딩 콧수염괄호 Mustache tag {{}}
  디렉티브 : html 표준속성 제외하고 v-시작하는 속성들은 디렉티브
-->
  <div id="app">
    <!-- 돔의 저보도 바인딩 가능 하다. id가 데이터로 바인딩 가능 -->
    <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p>
    <!-- <p id="abc1234">{{ num }}</p> -->
    <p v-bind:id12="uuid" v-bind:class="name">{{ num }}</p> 


    <p>{{ doubleNum }}</p> <!-- 1. computed 속성-->
    <div v-if="loading">
      Loading...
    </div>
    <div v-else>
      test user has been logged in
    </div>
    <div v-show="loading">
      <!-- if와 show 의 차이점은 show는 display:none -->
      Loading...
    </div>
    <!-- TODO: 인풋 박스를 만들고 입력된 값을 p 태그에 출력해보세요 -->
    <input type="text" v-model="message">
    <p>{{ message }}</p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        num: 10,
        uuid: 'abc1234',
        name: 'text-blue',
        loading: true,
        message: ''
      },
      computed: { 
        doubleNum: function() {
          return this.num * 2;
        }
      }
    })
  </script>
</body>
</html>